SITE_ADDRESS=guardian-plus-api.<region>.cloudapp.azure.com
DATABASE_URL=<server-name>.postgres.database.azure.com
DATABASE_PORT=5432
DATABASE_NAME=guardian_plus
DATABASE_USER=<admin-user>
DATABASE_PASSWORD=<admin-password>
